<div class="parent-container" (click)="bodyClicked($event)">
  <div class="header">
    <div class="title flex-center">RENTAL MANAGEMENT SYSTEM</div>
    <div class="combo">
      <div class="dropdown">
        <div class="dropdown-toggle" (click)="selectLocation($event)">
          {{selectedLocation}}
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu multi-level" aria-labelledby="dLabel" *ngIf="showDropDown">
          <li class="dropdown-submenu" *ngFor="let location of LocationList;let idx=index" (click)="locationClicked($event,idx)">
            <span>{{location.name}}</span>
            <div class="dropdown-menu" *ngIf="location && location.branches && location.branches.length && locationIndex == idx ">
              <ul *ngFor="let branch of location.branches;let index=index" >
                <li (click)="branchClicked(idx,index)"><span>{{branch.name}}</span></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="banner flex-center" *ngIf="branchIndex == -1 || locationIndex == -1">
      <h2>WELCOME TO RENTAL MANAGEMENT SYSTEM</h2>
      <h3>Please Select Location</h3>
    </div>
    <div *ngIf="branchIndex != -1 && locationIndex != -1">
      <div class="lbl">
        <span (click)="goBack()">
          Equipment Catalog 
        </span>
        <span *ngIf="currentCategory">
          / {{currentCategory}}
        </span>
      </div>
      <div class="box" *ngFor="let data of categories;let id=index">
        <div class="img">
          <img src="../assets/category/{{data.image}}" alt="" onerror="this.style.display='none'">
          <img src="../assets/category/subcategory/{{data.image}}" alt="" onerror="this.style.display='none'">
        </div>
        <div class="label" (click)="linkClicked(data.name,id)">
          <a>
            {{data.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>