/* You can add global styles to this file, and also import other style files */
// @import 'material-icons/iconfont/material-icons.scss';
// @import '~material-icons/iconfont/material-icons.scss';
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}